/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
/* background-color: #07015a; */
background: linear-gradient(0deg, #70384A -90%, #271a29 20%, #1d2b3d 100%);
color: #ffffff;
}

a:link {
  color: #d11c53;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333333;
}

.space-above {
    margin-top: 30px;
    padding-top: 30px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.first-name {
  color: #ffffff;
}

.last-name {
  color: #176B87;
}

.button-badge {
  color: #d7e974;
}