{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}
<!--Don't forget your import here-->
{% block title %}About Me{% endblock %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/static/selfportrait.png"  class="d-block mx-lg-auto img-fluid" alt="kee-yawn" width="400" height="300" loading="lazy" style="border-radius: 50%; filter: drop-shadow(0 0 1.0rem #12486B)">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Keiane Balicanta</h1>
      <p class="h5 lh-1 mb-5"><em>(pronounced like Keanu without the '-u')</em></p>
      <p class="lead">
        In the Fall of 2023, I was enrolled in an AI/ML <span class="fw-bold" style="color: #F4CE14;">Rowan University Engineering Clinic</span> course meant as not only an introduction to the basics of <span class="fw-bold" style="color: #F4CE14;">Python</span>, but extensive explorations of AI. To accelerate my learning, I enrolled in a course to quickly learn Python as well as basic data science principles. In my past few months of learning Python, I have branched out to implement small projects using various APIs such as Spotify, Google Sheets, and Twilio, as well as a few web apps using <span class="fw-bold" style="color: #F4CE14;">Flask</span> and <span class="fw-bold" style="color: #F4CE14;">SQLAlchemy</span>. This long tangent of self-learning eventually led to the website you are viewing now.
      </p>
      <p class="lead">
        My present goals revolve around implementations and use cases of AI. I am taking a continuation course of my clinic pursuing further implementations of AI with <span class="fw-bold" style="color: #F4CE14;">PyTorch</span> and hope to get some time to explore ChatGPT's API and AI use cases with <span class="fw-bold" style="color: #F4CE14;">Midjourney</span>. Additionally, I plan to enhance my knowledge in databases further looking into <span class="fw-bold" style="color: #F4CE14;">MySQL</span>, <span class="fw-bold" style="color: #F4CE14;">SQLite</span>, and Python's <span class="fw-bold" style="color: #F4CE14;">SQLAlchemy</span>.    
      </p>
      <p class="lead">
        Beyond the realm of this website, I am a junior electrical and computer engineering student with strong knowledge in <span class="fw-bold" style="color: #F4CE14;">Python</span>, <span class="fw-bold" style="color: #F4CE14;">C</span>, <span class="fw-bold" style="color: #F4CE14;">C++</span>, and <span class="fw-bold" style="color: #F4CE14;">Java</span> and an interest in <span class="fw-bold" style="color: #F4CE14;">power systems engineering</span>. When I'm not working on my computer, you can find me at the gym, spending time with my family and pets, or trying not to die by biters in Factorio.     
      </p>
      <p class="lead">
        At the bottom of this page, you'll find my social links as well as a link to my resume. You can connect with me on <span class="fw-bold" style="color: #F4CE14;">LinkedIn</span>, look at my <span class="fw-bold" style="color: #F4CE14;">Github repos</span>, or view my <span class="fw-bold" style="color: #F4CE14;">YouTube</span> channel where I posted a couple mandatory videos for school assignments. You can also reach out to me via email by clicking the Contact Me at the top right of this webpage or this button below.
      </p>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="{{ url_for('contact') }}"><button type="button" class="btn btn-lg px-4 fw-bold" style="background-color: #F4CE14;">Contact Me!</button></a>
      <a href="https://drive.google.com/file/d/1m57deBgZBS64dTBUrayMYvC_jwLguFMF/view?usp=drive_link" target="_blank"><button type="button" class=" btn btn-outline-light btn-lg px-4 fw-bold">View My Résumé</button></a>
    </div>
  </div>
</div>

{% endblock %}
