<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--  google-site-verification=4I8MXIf-bNgWTD2Taxi8Pk0iGrXMJ9NN1FtMMft94L8 -->
  {% block styles %}
  <!-- Load Bootstrap-Flask CSS here -->
  {{ bootstrap.load_css() }}
  <!-- Link to the styles.css here to apply styling to all the child templates.-->
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css"/>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script type="text/javascript" src="/static/javascript/index.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
   <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>


  
  {% endblock %}

  {% block head %}
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS to force scrollbar always -->
    <style>
      body {
        overflow-y: scroll;
        min-height: 100vh; /* Set minimum height to 100% of the viewport height */
        display: flex;
        flex-direction: column;
      }

      header {
        width: 100%;
        box-sizing: border-box;
      }

      main {
        width: 100%;
        flex: 1; /* Allow main content to grow and take remaining vertical space */
      }

      footer {
        width: 100%;
      }
    </style>

    
  {% endblock %}


{% block main %}{% endblock %}
{% block contact %}{% endblock %}
{% block success %}{% endblock %}
  
  <!----------------------- Cursor Light ----------------------->
      <div class="cursor-light"></div>
      <script>
        const light = document.querySelector('.cursor-light');
        document.addEventListener('mousemove', (e) => {
          light.style.left = `${e.clientX}px`;
          light.style.top = `${e.clientY}px`;
        });

          // Smooth Scroll
        function scrollToTarget(target, offset = 100, duration = 800) {
        const targetPosition = target.getBoundingClientRect().top + window.pageYOffset - offset;
        const startPosition = window.pageYOffset;
        const distance = targetPosition - startPosition;
        let startTime = null;

        function animation(currentTime) {
          if (startTime === null) startTime = currentTime;
          const timeElapsed = currentTime - startTime;
          const run = easeInOutQuad(timeElapsed, startPosition, distance, duration);
          window.scrollTo(0, run);
          if (timeElapsed < duration) requestAnimationFrame(animation);
        }

        // Ease function
        function easeInOutQuad(t, b, c, d) {
          t /= d / 2;
          if (t < 1) return c / 2 * t * t + b;
          t--;
          return -c / 2 * (t * (t - 2) - 1) + b;
        }

          requestAnimationFrame(animation);
        }

        document.querySelectorAll('a[href^="#"]').forEach(link => {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            const id = this.getAttribute("href").substring(1);
            const target = document.getElementById(id);
            if (target) {
              scrollToTarget(target, document.querySelector('.navbar').offsetHeight, 1000);

            }
          });
        });
        
      </script>
  
  <!------------------------------- Footer and Contact Links ------------------------------->
  <footer class="footer mt-auto py-3 bg-body-tertiary" style="background-color: #F4F4F4;"> 
    <div class="container" style="display: flex; justify-content: center; align-items: center;"> 
      <span class="text-body-secondary">Created with Flask. Styled with Bootstrap. Deployed on Porkbun.</span> 
    </div> 
  </footer>
</html>
