{% extends 'base.html' %}
{% block title %}Work Experiences{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
  <h1 class="pb-2">Work Experience & Internships</h1>
  <h2 class="pb-2 border-bottom">2024</h2>
  <div>
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Exelon, Atlantic City Electric (ACE)</h3>
      <h4 class="fs-6 text-body-emphasis"><em>May - December</em></h4>
      <p></p>
      <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Power Systems Engineer</span>
      <span class="badge rounded-pill text-black" style="background-color: #F4CE14">CO-OP</span>

    </div>
    
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">2023</h2>
  <div>
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Naval Surface Warfare Center of Philadelphia (NSWCPD)</h3>
      <h4 class="fs-6 text-body-emphasis"><em>May - August</em></h4>
      <p>Worked on three assigned subsystems with software team developing code based on requirements given by documentation and weekly team meetings.</p>
      <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Software Service Agent</span>
      <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Student Engineering Intern</span>

    </div>
    
  </div>
</div>
{% endblock %}
