{% extends 'base.html' %}
{% block title %}My Projects{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h1 class="pb-2">Projects</h1>
    <h2 class="pb-2 border-bottom">2024</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">Flask Web App Portfolio</h3>
        <p>A personal portfolio web application built with Flask, HTML, and Bootstrap CSS to learn Python, databases, and backend development with Jinja templating.</p>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Python</span>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Bootstrap CSS</span>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">PostgreSQL</span>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">SQLAlchemy</span>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Jinja</span>
        <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Github</span>

      </div>
      
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">2023</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">LED Chess Board</h3>
            <p>Designed a PCB in Altium Designer to mimic the playing of a chess game and the specific moves each piece can make using LEDs, shift registers, and linear voltage regulators. This project was used with the MSP430 MCU along with a ESP01 for wireless connectivity. </p>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">C</span>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Altium PCB Designer</span>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">GitKraken</span>
        </div>
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Gradio AI Model UI</h3>
            <p>Learned Python language as well as PyTorch framework with Gradio library to implement a basic UI giving users a variety of AI model customizations. This includes a dropdown of various torchvision models, adding adversarial attacks, and adjusting the batch sizes of the datasets used just to name a few adjustable parameters.</p>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Python</span>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">PyTorch</span>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Github</span>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">2022</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">RISC-V Computer Processor</h3>
            <p>Designed a RISC-V 32-bit computer processor using Quartus software with Verilog HDL. This project consisted of various files for the regfile, ALU, RAM, program counter, and control unit to each be testbenched indivdually, and then testbenched at the whole to do basic arithmetic such as addition. </p>
            <span class="badge rounded-pill text-black"  style="background-color: #F4CE14">Verilog</span>
        </div>

        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Verilog VGA Pong Game Recreation</h3>
            <p>Developed a recreation of the old-style Pong game using a Terasic DE10-Lite FPGA board used with Verilog in Quartus to control the paddles on a VGA monitor.</p>
            <span class="badge rounded-pill text-black"  style="background-color: #F4CE14">Verilog</span>
        </div>

        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Arduino MQTT Door Sensor</h3>
            <p>Developed code using an ESP8266 MCU to track the egress and ingress of individual movement within Rowan classrooms to ensure room capacity did not exceed. This was interfaced with a MQTT broker client to send and retrieve data wirelessly.</p>
            <span class="badge rounded-pill text-black"  style="background-color: #F4CE14">C</span>
            <span class="badge rounded-pill text-black" style="background-color: #F4CE14">Arduino</span>
        </div>

    </div>
</div>
{% endblock %}
