#about,
#experience,
#projects {
  scroll-margin-top: 50px;
}

.selfportrait {
    border-radius: 50%;
    filter: drop-shadow(10px 10px 10px #000000)
}

.brown-bg {
    background-color: #D4C5B0;
}

.white-bg {
    background-color: #ffffff;
}

.cursor-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px; /* Size of the light */
    height: 400px;
    pointer-events: none;
    border-radius: 100%;
    background: radial-gradient(circle, #D4C5B0 -30%, transparent 50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: multiply; /* Optional: for subtle overlay effect */
    transition: background 0.3s ease;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #D4C5B0;
    background-color: transparent;
    text-decoration: underline;
}

.zoom {
    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    text-decoration: none;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: translate(10px,-10px);
}

.zoom:hover .arrow{
    transform: translate(10px,-10px);
}

hr.dotted {
    border-top: 3px dotted #000000;
}

.resume-link .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.resume-link:hover .arrow {
    transform: translate(10px,-10px);
}

.back-link .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.back-link:hover .arrow {
    transform: translateX(-10px);
}

.badge {
    background-color: #D4C5B0;
    color: white;
    padding: 12px 10px;
    text-align: center;
    border-radius: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/** Variables **/

:root {
  --color-background: #e7e7e7;
  --color-background-alt: #888888;
  --color-border-active: #FBA181;
  --color-border-default: #d1d1d1;
  --color-highlight: #fdcf4c;
  --color-primary: #FBA181;
  --color-primary-active: #79320e;
  --color-text-default: #262626;
  --color-text-muted: #4f4f4f;

  --font-family-body: "Figtree", system-ui, sans-serif;
  --font-family-display: "Poppins", system-ui, sans-serif;
}

/** Base **/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

[type="checkbox"],
[type="radio"],
[type="range"] {
    appearance: none;
    flex-shrink: 0;
    padding: 0;
    user-select: none;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="range"]:focus {
    outline: none;
}

/** Components **/

.fs-form {
    display: grid;
    row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

fieldset {
    display: grid;
    margin: 1.5rem 0;
    row-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) fieldset {
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
}

.fs-fieldset-title {
    color: var(--color-text-default);
    font-family: var(--font-family-display);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    grid-column: 1 / -1;
}

.fs-field {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.fs-label {
    color: var(--color-text-default);
    display: block;
    font-family: var(--font-family-display);
    font-size: 1rem;
    line-height: 1.25rem;
}

.fs-description {
    color: var(--color-text-muted);
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
}

.fs-button-group {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1.5rem;
}

.fs-form:where(.fs-layout__2-column) .fs-button-group {
    grid-column: 1 / -1;
}

.fs-button {
    background-color: var(--color-primary);
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 2rem;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-button:hover {
    background-color: var(--color-primary-active);
}

.fs-button:focus-visible {
    background-color: var(--color-primary-active);
    outline: 4px solid var(--color-highlight);
}

.fs-input,
.fs-select {
    appearance: none;
    border-radius: 9999px;
    border-width: 0;
    box-shadow: var(--color-border-default) 0 0 0 1px inset;
    color: var(--color-text-default);
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
    box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-input::placeholder {
    color: var(--color-text-muted);
}

.fs-checkbox-group,
.fs-radio-group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.fs-checkbox-field,
.fs-radio-field {
    column-gap: 0.5rem;
    display: flex;
}

:is(.fs-checkbox-field, .fs-radio-field) .fs-label + .fs-description {
    margin-top: 0.25rem;
}

.fs-checkbox-wrapper,
.fs-radio-wrapper {
    align-items: center;
    display: flex;
    height: 1.25rem;
}

.fs-checkbox,
.fs-radio {
    background-color: #fff;
    border: 1px solid var(--color-border-default);
    height: 1.25rem;
    width: 1.25rem;
}

.fs-checkbox {
    border-radius: 0.25rem;
}

.fs-radio {
    border-radius: 100%;
}

.fs-checkbox:checked,
.fs-radio:checked {
    background-color: var(--color-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
}

.fs-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.fs-radio:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.fs-checkbox:focus-visible,
.fs-radio:focus-visible {
    border-color: var(--color-border-active);
    outline: 4px solid var(--color-highlight);
    outline-offset: 0;
}

.fs-checkbox:checked:focus-visible,
.fs-radio:checked:focus-visible {
    border-color: transparent;
}

.fs-select {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1.625em 1.625em;
    padding-right: 2.875rem;
}

.fs-slider {
    background: transparent;
    cursor: pointer;
    height: 1.25rem;
    width: 100%;
}

.fs-slider::-moz-range-track {
    background-color: var(--color-background);
    border-radius: 0.5rem;
    height: 0.5rem;
}

.fs-slider::-webkit-slider-runnable-track {
    background-color: var(--color-background);
    border-radius: 0.5rem;
    height: 0.5rem;
}

.fs-slider::-moz-range-thumb {
    background-color: var(--color-primary);
    border: none; /* Removes extra border that FF applies */
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
}

.fs-slider::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--color-primary);
    border-radius: 50%;
    height: 1.25rem;
    margin-top: -0.375rem; /* Centers thumb on the track */
    width: 1.25rem;
}

.fs-slider:focus-visible::-moz-range-thumb {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.fs-slider:focus-visible::-webkit-slider-thumb {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.fs-switch {
    background-color: var(--color-background-alt);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.75' fill='white'/%3e%3c/svg%3e");
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
    cursor: pointer;
    height: 1.25rem;
    transition-duration: 200ms;
    transition-property: background-color, background-position;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 2.5rem;
}

.fs-switch:checked {
    background-color: var(--color-primary);
    background-position: right center;
}

.fs-switch:focus-visible {
    outline: 4px solid var(--color-highlight);
    outline-offset: 0;
}

.fs-textarea {
    appearance: none;
    border-radius: 0.75rem;
    border-width: 0;
    box-shadow: var(--color-border-default) 0 0 0 1px inset;
    color: var(--color-text-default);
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none;
    padding: 0.5rem 0.75rem;
    resize: vertical;
}

.fs-textarea:focus-visible {
    box-shadow: var(--color-border-active) 0 0 0 1px inset;
}

.fs-textarea::placeholder {
    color: var(--color-text-muted);
}

/** Utilities **/

.col-span-full {
    grid-column: 1 / -1;
}

.fs-textarea::placeholder {
    color: var(--color-text-muted);
}

.slider-label-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.25rem;
}

.slider-label-text {
    font-size: 0.75rem;
    color: var(--color-text-muted);
    text-align: center;
    white-space: nowrap;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
    padding: 0 2rem;
    backdrop-filter: blur(10px); /* Optional: makes background blur under navbar */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* or space-between or center */
  align-items: center;
  width: 100%; /* take full width */
  max-width: 1200px; /* optional cap */
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-zoom {
    transition: transform .2s; /* Animation */
}
.nav-zoom:hover {
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    text-decoration: none;
}

.nav-zoom a {
  text-decoration: none;
}

/* Add before and after lines */
.nav-zoom a span::before,
.nav-zoom a span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.nav-zoom a span::before {
  right: 100%;
  margin-right: 10px;
}

.nav-zoom a span::after {
  left: 100%;
  margin-left: 10px;
}

.nav-zoom:hover a span::before,
.nav-zoom:hover a span::after {
  width: 40px; /* or however long you want the animated dashes */
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

/* === Anti-horizontal-scroll & margin fix === */

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* Fix cursor-light overflow */
.cursor-light {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

/* Prevent navbar pseudo-elements from expanding layout */
.navbar,
header {
    overflow-x: hidden;
}

/* Ensure sections never exceed screen width */
section, div, img {
    max-width: 100%;
}

.pdf-container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.pdf-container iframe {
    width: 100%;
    height: 100vh;
    border: none;
}